<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.common.dao.UStudentProjectMapper">

    <resultMap id="uStudent" type="com.hp.common.model.UStudent">
        <result column="uStudent_name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="uClass" type="com.hp.common.model.UClass">
        <id column="ccid" jdbcType="BIGINT" property="ccid"/>
        <result column="uClass_name" jdbcType="VARCHAR" property="name"/>
    </resultMap>


    <resultMap id="BaseResultMap" type="com.hp.common.model.UStudentProject">
        <id column="spid" jdbcType="BIGINT" property="spid"/>
        <result column="cid" jdbcType="BIGINT" property="cid"/>
        <result column="ccid" jdbcType="BIGINT" property="ccid"/>
        <result column="sid" jdbcType="BIGINT" property="sid"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="vsubmit" jdbcType="BIGINT" property="vsubmit"/>
        <result column="vpass" jdbcType="BIGINT" property="vpass"/>
        <result column="vaddr" jdbcType="VARCHAR" property="vaddr"/>
        <result column="vtime" jdbcType="VARCHAR" property="vtime"/>
        <result column="codeaddr" jdbcType="VARCHAR" property="codeaddr"/>
        <result column="coderate" jdbcType="DECIMAL" property="coderate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="cpid" jdbcType="BIGINT" property="cpid"/>
    </resultMap>

    <resultMap id="BaseResultMapDetails" type="com.hp.common.model.UStudentProject" extends="BaseResultMap">
        <association property="uStudent" resultMap="uStudent"></association>
        <association property="uClass" resultMap="uClass"></association>
    </resultMap>

    <resultMap id="StudentResultMap" type="com.hp.common.model.UStudentProject" extends="BaseResultMap">
        <association property="uStudent" javaType="com.hp.common.model.UStudent">
            <id column="sid" jdbcType="BIGINT" property="sid"></id>
            <result column="name" jdbcType="VARCHAR" property="name"></result>
        </association>
    </resultMap>


    <sql id="Base_Column_List">
    spid, cid, ccid, sid, rate, vsubmit, vpass, vaddr, vtime, remark, codeaddr, coderate, create_time, create_id, cpid
   </sql>


    <select id="selectByCpid" parameterType="java.lang.Long" resultMap="StudentResultMap">
        select sp.*, us.name as student_name
        from
        (select
        <include refid="Base_Column_List"/>
        from u_student_project
        where cpid = #{cpid,jdbcType=BIGINT}) sp
        left join u_student us
        on us.sid = sp.sid
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from u_student_project
        where spid = #{spid,jdbcType=BIGINT}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_student_project
    where spid = #{spid,jdbcType=BIGINT}
  </delete>

    <delete id="deleteByCpid" parameterType="java.lang.Long">
        delete from u_student_project
        where cpid = #{cpid,jdbcType=BIGINT}
    </delete>


    <insert id="insert" parameterType="com.hp.common.model.UStudentProject">
    insert into u_student_project (spid, cid, ccid,
      sid, rate, vsubmit, vpass,
      vaddr, vtime, codeaddr, coderate, remark, create_time,
      create_id, cpid)
    values (#{spid,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, #{ccid,jdbcType=BIGINT},
      #{sid,jdbcType=BIGINT}, #{rate,jdbcType=DECIMAL}, #{vsubmit,jdbcType=BIGINT}, #{vpass,jdbcType=BIGINT},
      #{vaddr,jdbcType=VARCHAR}, #{vtime,jdbcType=VARCHAR},  #{codeaddr,jdbcType=VARCHAR}, #{coderate,jdbcType=DECIMAL},
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{createId,jdbcType=BIGINT}, #{cpid,jdbcType=BIGINT})
  </insert>

    <insert id="insertSelective" parameterType="com.hp.common.model.UStudentProject">
        insert into u_student_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spid != null">
                spid,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="ccid != null">
                ccid,
            </if>
            <if test="sid != null">
                sid,
            </if>
            <if test="rate != null">
                rate,
            </if>
            <if test="vsubmit != null">
                vsubmit,
            </if>
            <if test="vpass != null">
                vpass,
            </if>
            <if test="vaddr != null">
                vaddr,
            </if>
            <if test="vtime != null">
                vtime,
            </if>
            <if test="codeaddr != null">
                codeaddr,
            </if>
            <if test="coderate != null">
                coderate,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="cpid != null">
                cpid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spid != null">
                #{spid,jdbcType=BIGINT},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=BIGINT},
            </if>
            <if test="ccid != null">
                #{ccid,jdbcType=BIGINT},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=BIGINT},
            </if>
            <if test="rate != null">
                #{rate,jdbcType=DECIMAL},
            </if>
            <if test="vsubmit != null">
                #{vsubmit,jdbcType=BIGINT},
            </if>
            <if test="vpass != null">
                #{vpass,jdbcType=BIGINT},
            </if>
            <if test="vaddr != null">
                #{vaddr,jdbcType=VARCHAR},
            </if>
            <if test="vtime != null">
                #{vtime,jdbcType=VARCHAR},
            </if>
            <if test="codeaddr != null">
                #{codeaddr,jdbcType=VARCHAR},
            </if>
            <if test="coderate != null">
                #{coderate,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="cpid != null">
                #{cpid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into u_student_project (spid, cid, ccid,
        sid, rate, vsubmit, vpass,
        vaddr, vtime, codeaddr, coderate, remark, create_time,
        create_id, cpid)values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.spid,jdbcType=BIGINT},#{item.cid,jdbcType=BIGINT},#{item.ccid,jdbcType=BIGINT},
            #{item.sid,jdbcType=BIGINT},#{item.rate,jdbcType=DECIMAL},#{item.vsubmit,jdbcType=BIGINT},
            #{item.vpass,jdbcType=BIGINT}, #{item.vaddr,jdbcType=VARCHAR},#{item.vtime,jdbcType=VARCHAR},
            #{item.codeaddr,jdbcType=VARCHAR}, #{item.coderate,jdbcType=DECIMAL}, #{item.remark,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},#{item.createId,jdbcType=BIGINT}, #{item.cpid,jdbcType=BIGINT}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hp.common.model.UStudentProject">
        update u_student_project
        <set>
            <if test="cid != null">
                cid = #{cid,jdbcType=BIGINT},
            </if>
            <if test="ccid != null">
                ccid = #{ccid,jdbcType=BIGINT},
            </if>
            <if test="sid != null">
                sid = #{sid,jdbcType=BIGINT},
            </if>
            <if test="rate != null">
                rate = #{rate,jdbcType=DECIMAL},
            </if>
            <if test="vsubmit != null">
                vsubmit = #{vsubmit,jdbcType=BIGINT},
            </if>
            <if test="vpass != null">
                vpass = #{vpass,jdbcType=BIGINT},
            </if>
            <if test="vaddr != null">
                vaddr = #{vaddr,jdbcType=VARCHAR},
            </if>
            <if test="vtime != null">
                vtime = #{vtime,jdbcType=VARCHAR},
            </if>
            <if test="codeaddr != null">
                codeaddr = #{codeaddr,jdbcType=VARCHAR},
            </if>
            <if test="coderate != null">
                coderate = #{coderate,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="cpid != null">
                cpid = #{cpid,jdbcType=BIGINT},
            </if>
        </set>
        where spid = #{spid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hp.common.model.UStudentProject">
    update u_student_project
    set cid = #{cid,jdbcType=BIGINT},
      ccid = #{ccid,jdbcType=BIGINT},
      sid = #{sid,jdbcType=BIGINT},
      rate = #{rate,jdbcType=DECIMAL},
      vsubmit = #{vsubmit,jdbcType=BIGINT},
      vpass = #{vpass,jdbcType=BIGINT},
      vaddr = #{vaddr,jdbcType=VARCHAR},
      vtime = #{vtime,jdbcType=VARCHAR},
      codeaddr = #{codeaddr,jdbcType=VARCHAR},
      coderate = #{coderate,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      cpid = #{cpid,jdbcType=BIGINT}
    where spid = #{spid,jdbcType=BIGINT}
  </update>


    <update id="updateProjectByPrimaryKey" parameterType="com.hp.common.model.UStudentProject">
        update u_student_project
        <set>
            <if test="rate != null">
                rate = #{rate,jdbcType=DECIMAL},
            </if>
            <if test="vsubmit != null">
                vsubmit = #{vsubmit,jdbcType=BIGINT},
            </if>
            <if test="vpass != null">
                vpass = #{vpass,jdbcType=BIGINT},
            </if>
            <if test="vaddr != null">
                vaddr = #{vaddr,jdbcType=VARCHAR},
            </if>
            <if test="vtime != null">
                vtime = #{vtime,jdbcType=VARCHAR},
            </if>
            <if test="codeaddr != null">
                codeaddr = #{codeaddr,jdbcType=VARCHAR},
            </if>
            <if test="coderate != null">
                coderate = #{coderate,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where spid = #{spid,jdbcType=BIGINT}
    </update>


    <select id="selectStudentNameProjectByCpid" resultMap="StudentResultMap" parameterType="java.lang.Long">
        SELECT us.name,use1.*
        FROM u_student_project use1
        LEFT JOIN u_student us
        ON us.sid = use1.sid
        WHERE use1.cpid=#{cpid,jdbcType=BIGINT}
    </select>


    <select id="showStudentProjectQualifiedInfo" parameterType="java.lang.Long" resultMap="StudentResultMap">
      SELECT us.name, usp.*
       FROM u_student_project usp
       LEFT JOIN u_student us
       ON usp.sid = us.sid
       WHERE cpid=#{cpid,jdbcType=BIGINT}
       AND usp.vsubmit = 1
        ORDER BY cpid
    </select>

    <select id="selectProjectDetails" parameterType="java.lang.Long" resultMap="BaseResultMapDetails">
        SELECT usp.*,uc.name uClass_name, us.name uStudent_name
        FROM u_student_project usp
        LEFT JOIN u_class_project uce
        ON usp.cpid = uce.cpid
        LEFT JOIN u_class uc
        ON uc.ccid = uce.ccid
        LEFT JOIN u_student us
        ON usp.sid = us.sid
        WHERE usp.cpid=#{cpid,jdbcType=BIGINT}
        ORDER BY usp.cpid
    </select>


    <select id="exporeStudentProjectGrade" parameterType="java.lang.Long"
            resultType="com.hp.project.bo.ExportStudentProjectResults">
      SELECT
         us.name,
         usp.rate
       FROM u_student_project usp
       LEFT JOIN u_student us
       ON usp.sid = us.sid
      WHERE cpid=#{cpid}

    </select>

    <select id="exporeClassProjectGrade" parameterType="java.lang.Long"
            resultType="com.hp.project.bo.ExportClassProjectResults">
        SELECT uc.`NAME` cname, ucp.`squalified` FROM u_class_project ucp,u_class uc WHERE uc.ccid = ucp.`ccid` AND ucp.cpid=#{cpid}

    </select>


</mapper>